:root {
  --palette1-h: 195;
  --palette1-s: 74%;
  --palette1-l: 37%;
  --palette1: hsl(var(--palette1-h), var(--palette1-s), var(--palette1-l));

  --palette2-h: 187;
  --palette2-s: 47%;
  --palette2-l: 50%;
  --palette2: hsl(var(--palette2-h), var(--palette2-s), var(--palette2-l));

  --palette3-h: 192;
  --palette3-s: 52%;
  --palette3-l: 68%;
  --palette3: hsl(var(--palette3-h), var(--palette3-s), var(--palette3-l));

  --palette4-h: 31;
  --palette4-s: 70%;
  --palette4-l: 90%;
  --palette4: hsl(var(--palette4-h), var(--palette4-s), var(--palette4-l));

  --palette5-h: 195;
  --palette5-s: 70%;
  --palette5-l: 17%;
  --palette5: hsl(var(--palette5-h), var(--palette5-s), var(--palette5-l));
}

body {
  margin: 0;
  background: var(--palette1);
}

.icon {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.25rem;

  box-sizing: border-box;

  background: unset;
  color: var(--palette3);
  cursor: pointer;
}

.settings > .icon {
  padding: 0.35rem;
}

.settings > .icon:hover {
  background: var(--palette5);
  color: var(--palette2);
  border-radius: 0.35rem;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.85em;
  }

  .folderList {
    width: 88vw;
    padding: 0.65rem;
  }

  .allControls {
    justify-content: space-between;
  }
}

select {
  appearance: none;
  padding: 0.25rem;
}

option {
  color: black;
}

.folderList {
  width: 85vw;
  height: 80vh;

  max-width: 900px;
  max-height: 700px;
}

.folderList .select {
  height: calc(100% - 0.5rem);
  overflow-y: auto;
}

.folderList .option {
  display: flex;
  padding: 0.35rem 0.5rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  font-size: 1.15rem;
  color: var(--palette1);
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  border-radius: 0.25rem;
}

.folderList .option .optionIcon {
  display: flex;
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin-right: 1rem;
}

.folderList .option:hover {
  background: hsla(var(--palette5-h), var(--palette5-s), calc(var(--palette5-l) * 1.5), 0.85);
  color: var(--palette3);
}

.folderList .option.selected {
  background: var(--palette5);
  color: var(--palette2);
}

.folderList .controls {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--palette2);
}

input[type='range'] {
  -webkit-appearance: none;

  width: 8rem;
  height: 0.75rem;
  border-radius: 0.25rem;
  overflow: hidden;

  background-color: var(--palette2);
  border: 0.2rem solid var(--palette2);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 0.01rem;
  box-shadow: 100vw 0 0 100vw var(--palette1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nicer scrollbar from: https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: hsla(var(--palette1-h), var(--palette1-s), var(--palette1-l), 0.3);
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--palette1);
  border-radius: 0.75rem;
  border: 0.15rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--palette1-h), var(--palette1-s), calc(var(--palette1-l) * 0.85));
}
