:root {
  --palette1: #1981a4;
  --palette2: #43adbb;
  --palette3: #8bd0cf;
  --palette4: #f7e5d2;
  --palette5: #dec8b8;
}

body {
  margin: 0;
  background: var(--palette1);
}

.icon {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.25rem;

  box-sizing: border-box;

  background: unset;
  color: var(--palette3);
  cursor: pointer;
}

select {
  appearance: none;
  padding: 0.25rem;
}

option {
  color: black;
}

.folderList {
  width: 85vw;
  height: 80vh;

  max-width: 900px;
  max-height: 700px;
}

.folderList .select {
  height: 100%;
  overflow-y: auto;

  /* Scroll shadow: https://radiant-brushlands-42789.herokuapp.com/javascript.plainenglish.io/how-to-create-horizontal-vertical-scroll-shadows-26aa7a7f00a0 */
  background-image: linear-gradient(to top, var(--palette3), var(--palette3)), linear-gradient(to top, var(--palette3), var(--palette3)),
    linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: bottom center, top center, bottom center, top center;
  background-color: var(--palette3);
  background-repeat: no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;
}

.folderList .option {
  display: flex;
  padding: 0.35rem 0.5rem;
  align-items: center;
  font-size: 1.15rem;
  color: var(--palette1);
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
}

.folderList .option.selected {
  background: var(--palette1);
  color: var(--palette4);
}

input[type='range'] {
  -webkit-appearance: none;

  width: 10rem;
  height: 0.75rem;
  border-radius: 0.25rem;
  overflow: hidden;

  background-color: var(--palette2);
  border: 0.2rem solid var(--palette3);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 0.01rem;
  box-shadow: 100vw 0 0 100vw var(--palette1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
